.article{
    display: grid;
    margin: auto;
    width: 90%;
    height: 100%;
    color: white;
    border: solid 1px black;
    border-radius: 10px;
    background-color: darkcyan;
    padding: 10px;
}
.article .dataList{
    grid-column: 1;
    grid-row: 1;
    
    width: 80%;
    height: 100%;
    margin: auto;
}
.article h1{
    display: block;
    margin: auto;
    font-size: xx-large;
    width: 90%;
    text-align: center;
}
.article .image{
    display: block;
    grid-column: 2;
    grid-row: 1;
    margin: auto;
    border-radius: 10px;
}
.image img{
    border: solid 3px teal;
    border-radius: 10px;
}
.link button{
    display: block;
    margin:auto;
    background-color: white;
    border: inset 1px white;
    border-radius: 10px;
    width: 100%;
    
}
.link{
    display: block;
    color:black;
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 40%;
    margin:auto;
}
.article button:hover{
    background-color: lightgray;
    border: inset 1px lightgray;
}