.card{
    position: relative;
    margin: 10px;
    padding-top: 0px;
    border: solid 1px black;
    border-radius: 15px;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-property: transform background-color;
    background-color: rgb(235, 235, 235);
}
.card:hover{
    background-color: lightskyblue;
    transform: scale(1.1);
}
.card:hover .image{
    background-color: darkcyan;
}
.image img{
    display: block;
    margin: auto;
    border-radius: 50%;
    border: solid 3px white;
    width: 60%;
    height: 60%;
}
.image{
    border-radius: 13px 13px 0px 0px;
    background-color: teal;
    padding: 10px
}

.name{
    text-align: center;
    font-size: 1.2vw;
    grid-column-end: 2;
    padding: 5px;
    margin: 0px;
    font-weight: bolder;
    background-color: lightseagreen
}
.data{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
}
.data ul{
    list-style: none;
    width: 50%;
    float: left;
    padding-left: 0px;
    margin: auto;
}
.data li{
    list-style-position: inside;

}
.data li p{
    font-size: 1vw;
    padding: 10px;
    margin: 0px;  
}

.data ul:first-child p{
    border-right: solid 2px darkcyan;
    font-weight: bold;
    text-align: right;
}
